@import url(font.min.css);

*,
*::before,
*::after {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat';
}

.footer {
  width: 100%;
  background-color: #133B5C;
}

.footer__container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer__body {
  padding: 40px 0 132px 0;
  color: white;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main-footer__text {
  margin-top: 75px;
  max-width: 270px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.menu__column {
  margin-left: 60px;
}

.menu__heading {
  font-weight: 700;
  padding-bottom: 15px;
}

.menu__link {
  color: #fff;
  line-height: 30px;
}

.media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
}

.media__link {
  font-size: 25px;
  color: #fff;
}

.media__link:not(:last-child) {
  margin-right: 30px;
}

@media (max-width: 992px) {
  .footer__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }

  .main-footer {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
  }

  .main-footer__text {
    max-width: 100%;
    margin-top: 40px;
  }

  .menu__column:first-child {
    margin-left: 0;
  }

  .menu__column:not(:first-child) {
    margin-left: 30px;
  }
}

@media (max-width: 768px) {
  .menu {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .menu__column {
    margin: 0 0 40px;
  }

  .menu__column:not(:first-child) {
    margin-left: 0px;
  }
}